html, body {
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  margin-bottom: 40px;
}
